/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f3f1ff;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top Players Style */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}


.container .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.container .top-players .players .player {
    display: flex;
    align-items: center;
}

.container .top-players .players .player img {
    width: 56px;
    height: 56px;
}

.container .top-players .players .player .player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* --------------------
Top Blogs Styles 
-----------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-info .blog-title {
    font-size: 20px;

}

.blog-author {
    color: #9f9f9f;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}


/* --------------
    latest-courses
-----------------*/
.container .latest-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    justify-content: space-between;
}

.container .latest-courses .courses {

    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.container .latest-courses .courses .course img {
    width: 100%;
    border-radius: 10px;
    height: 141px;
}

.container .latest-courses .courses .course h2 {
    font-size: 20px;
}

.container .latest-courses .courses .course .author a {
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14px;
}

.container .latest-courses .courses .course-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .latest-courses .courses .course-details h3 {
    margin: 0;
    color: #AEAEAE;
    font-weight: 400;
}

.container .latest-courses .courses .course-details .details .filled {
    color: #FFC014;
}

.container .latest-courses .courses .course-details .details .empty {
    color: #AEAEAE;
}

.container .latest-courses .courses .course-details .time {
    color:
        #FF4A60;
    font-size: 14px;
    background: #FFE4E8;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
}

.container .latest-courses .courses .course-details .time2 {
    color: #ED6B4F;
    font-size: 14px;
    background: #FEE5DF;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
}

.container .latest-courses .courses .course-details .time .fa-clock {
    margin-right: 5px;
}

/* Responsive */

/* ------------
    Mobile Devices
---------------*/

@media only screen and (max-width: 688px) {
    .container {
        width: auto;
    }

    .container .top-players .players,
    .blogs,
    .container .latest-courses {
        grid-template-columns: repeat(1, 1fr);

    }

    .container .top-players .players .player,
    .blog,
    .container .latest-courses {
        flex-direction: column;
        align-items: center;

    }

}


/* ------------
   Tablet Devices
---------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: auto;
    }

    .container .top-players .players,
    .blogs,
    .container .latest-courses {
        grid-template-columns: repeat(2, 1fr);

    }

    .container .top-players .players .player,
    .blog,
    .container .latest-courses {
        flex-direction: column;
        align-items: center;

    }

}